body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../搜索_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:28px;
    top:11px;
    width:380px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:800px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../搜索_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:64px;
    top:135px;
    width:308px;
    height:13px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:13px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../搜索_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:60px;
    top:152px;
    width:320px;
    height:46px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:172px;
    top:163px;
    width:95px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:73px;
    top:166px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:73px;
    top:214px;
    width:226px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:309px;
    top:214px;
    width:55px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_normal {
    background-image: url('../搜索_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:73px;
    top:258px;
    width:83px;
    height:28px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:34px;
}

.u11 {
    position:absolute;
    left:2px;
    top:6px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../搜索_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:176px;
    top:258px;
    width:83px;
    height:28px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:34px;
}

.u13 {
    position:absolute;
    left:2px;
    top:6px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../搜索_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:281px;
    top:258px;
    width:83px;
    height:28px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:34px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../搜索_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:73px;
    top:296px;
    width:83px;
    height:28px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:34px;
}

.u17 {
    position:absolute;
    left:2px;
    top:6px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../搜索_files/u10_normal.png');
}

.u18_container {
    position:absolute;
    left:176px;
    top:296px;
    width:83px;
    height:28px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:34px;
}

.u19 {
    position:absolute;
    left:2px;
    top:6px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../搜索_files/u10_normal.png');
}

.u20_container {
    position:absolute;
    left:281px;
    top:296px;
    width:83px;
    height:28px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:34px;
}

.u21 {
    position:absolute;
    left:2px;
    top:6px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_end {
    background-image: url('../搜索_files/u22_end.png');
}

.u22_end {
    position:absolute;
    left:169px;
    top:-5px;
    width:14px;
    height:20px;
}

.u22_line {
    background-image: url('../搜索_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:178px;
    height:3px;
}

.u22 {
    position:absolute;
    left:384px;
    top:267px;
    width:178px;
    height:10px;
    
}

.u23 {
    position:absolute;
    left:418px;
    top:230px;
    width:118px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../搜索_files/u0_normal.png');
}

.u24_container {
    position:absolute;
    left:610px;
    top:11px;
    width:380px;
    height:800px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:800px;
}

.u25 {
    position:absolute;
    left:2px;
    top:392px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../搜索_files/u4_normal.png');
}

.u26_container {
    position:absolute;
    left:642px;
    top:152px;
    width:320px;
    height:46px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:754px;
    top:163px;
    width:95px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:655px;
    top:166px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../搜索_files/u2_normal.png');
}

.u30_container {
    position:absolute;
    left:648px;
    top:133px;
    width:308px;
    height:13px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:13px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../搜索_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:642px;
    top:198px;
    width:320px;
    height:308px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:314px;
}

.u33 {
    position:absolute;
    left:2px;
    top:146px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../搜索_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:648px;
    top:208px;
    width:28px;
    height:30px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:30px;
}

.u35 {
    position:absolute;
    left:2px;
    top:7px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../搜索_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:642px;
    top:248px;
    width:320px;
    height:217px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:223px;
}

.u37 {
    position:absolute;
    left:2px;
    top:100px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:915px;
    top:215px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:686px;
    top:208px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:686px;
    top:224px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../搜索_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:875px;
    top:401px;
    width:79px;
    height:34px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:40px;
}

.u42 {
    position:absolute;
    left:2px;
    top:9px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:646px;
    top:475px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:719px;
    top:475px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:831px;
    top:475px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:902px;
    top:475px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

