body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../首页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:28px;
    top:11px;
    width:380px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:800px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../首页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:64px;
    top:135px;
    width:308px;
    height:13px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:13px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../首页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:60px;
    top:152px;
    width:320px;
    height:46px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:172px;
    top:163px;
    width:95px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:320px;
    top:166px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../首页_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u8 {
    position:absolute;
    left:60px;
    top:232px;
    width:320px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../首页_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:64px;
    top:208px;
    width:52px;
    height:21px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:27px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../首页_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:126px;
    top:208px;
    width:63px;
    height:21px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:27px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../首页_files/u11_normal.png');
}

.u13_container {
    position:absolute;
    left:199px;
    top:208px;
    width:63px;
    height:21px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:27px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../首页_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:272px;
    top:208px;
    width:56px;
    height:21px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:27px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../首页_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:60px;
    top:242px;
    width:320px;
    height:308px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:314px;
}

.u18 {
    position:absolute;
    left:2px;
    top:146px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../首页_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:66px;
    top:252px;
    width:28px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:30px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../首页_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:60px;
    top:292px;
    width:320px;
    height:217px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:223px;
}

.u22 {
    position:absolute;
    left:2px;
    top:100px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:333px;
    top:259px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:104px;
    top:252px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:104px;
    top:268px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../首页_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:293px;
    top:445px;
    width:79px;
    height:34px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:40px;
}

.u27 {
    position:absolute;
    left:2px;
    top:9px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:64px;
    top:519px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:137px;
    top:519px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:249px;
    top:519px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:320px;
    top:519px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_normal {
    background-image: url('../首页_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:61px;
    top:645px;
    width:320px;
    height:49px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:49px;
}

.u33 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../首页_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:320px;
    top:657px;
    width:25px;
    height:25px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../首页_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:199px;
    top:645px;
    width:55px;
    height:49px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:49px;
}

.u37 {
    position:absolute;
    left:2px;
    top:16px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../首页_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:98px;
    top:657px;
    width:25px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

