body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../内容编辑页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:28px;
    top:11px;
    width:380px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:800px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../内容编辑页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:64px;
    top:135px;
    width:308px;
    height:13px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:13px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../内容编辑页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:60px;
    top:152px;
    width:320px;
    height:46px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:172px;
    top:163px;
    width:95px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:71px;
    top:169px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:71px;
    top:208px;
    width:301px;
    height:107px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:77px;
    top:217px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../内容编辑页_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:71px;
    top:331px;
    width:89px;
    height:96px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:96px;
}

.u11 {
    position:absolute;
    left:2px;
    top:40px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../内容编辑页_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:178px;
    top:331px;
    width:89px;
    height:96px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:96px;
}

.u13 {
    position:absolute;
    left:2px;
    top:40px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../内容编辑页_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:277px;
    top:331px;
    width:95px;
    height:92px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:98px;
}

.u15 {
    position:absolute;
    left:2px;
    top:25px;
    width:91px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../内容编辑页_files/u0_normal.png');
}

.u16_container {
    position:absolute;
    left:513px;
    top:18px;
    width:380px;
    height:800px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:800px;
}

.u17 {
    position:absolute;
    left:2px;
    top:392px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../内容编辑页_files/u2_normal.png');
}

.u18_container {
    position:absolute;
    left:549px;
    top:142px;
    width:308px;
    height:13px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:13px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../内容编辑页_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:545px;
    top:159px;
    width:320px;
    height:46px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:46px;
}

.u21 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:657px;
    top:170px;
    width:95px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:556px;
    top:176px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:556px;
    top:215px;
    width:301px;
    height:107px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:562px;
    top:224px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../内容编辑页_files/u10_normal.png');
}

.u26_container {
    position:absolute;
    left:556px;
    top:338px;
    width:89px;
    height:96px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:96px;
}

.u27 {
    position:absolute;
    left:2px;
    top:40px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../内容编辑页_files/u10_normal.png');
}

.u28_container {
    position:absolute;
    left:663px;
    top:338px;
    width:89px;
    height:96px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:96px;
}

.u29 {
    position:absolute;
    left:2px;
    top:40px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../内容编辑页_files/u14_normal.png');
}

.u30_container {
    position:absolute;
    left:762px;
    top:338px;
    width:95px;
    height:92px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:98px;
}

.u31 {
    position:absolute;
    left:2px;
    top:25px;
    width:91px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../内容编辑页_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:546px;
    top:205px;
    width:320px;
    height:498px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:504px;
}

.u33 {
    position:absolute;
    left:2px;
    top:241px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../内容编辑页_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:545px;
    top:563px;
    width:321px;
    height:140px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:327px;
    height:146px;
}

.u35 {
    position:absolute;
    left:2px;
    top:62px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../内容编辑页_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:584px;
    top:607px;
    width:81px;
    height:76px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:81px;
    height:76px;
}

.u37 {
    position:absolute;
    left:2px;
    top:30px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../内容编辑页_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:752px;
    top:612px;
    width:79px;
    height:67px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:67px;
}

.u39 {
    position:absolute;
    left:2px;
    top:26px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:816px;
    top:570px;
    width:46px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:418px;
    top:376px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:304px;
    top:169px;
    width:62px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:796px;
    top:176px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:917px;
    top:378px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../内容编辑页_files/u0_normal.png');
}

.u45_container {
    position:absolute;
    left:1000px;
    top:13px;
    width:380px;
    height:800px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:800px;
}

.u46 {
    position:absolute;
    left:2px;
    top:392px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../内容编辑页_files/u2_normal.png');
}

.u47_container {
    position:absolute;
    left:1036px;
    top:137px;
    width:308px;
    height:13px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:13px;
}

.u48 {
    position:absolute;
    left:2px;
    top:-2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../内容编辑页_files/u4_normal.png');
}

.u49_container {
    position:absolute;
    left:1032px;
    top:154px;
    width:320px;
    height:46px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:46px;
}

.u50 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:1144px;
    top:165px;
    width:95px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:1043px;
    top:171px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:1283px;
    top:168px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:1043px;
    top:217px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../内容编辑页_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:1077px;
    top:256px;
    width:92px;
    height:31px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:37px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../内容编辑页_files/u55_normal.png');
}

.u57_container {
    position:absolute;
    left:1206px;
    top:256px;
    width:92px;
    height:31px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:37px;
}

.u58 {
    position:absolute;
    left:2px;
    top:8px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../内容编辑页_files/u55_normal.png');
}

.u59_container {
    position:absolute;
    left:1077px;
    top:312px;
    width:92px;
    height:31px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:37px;
}

.u60 {
    position:absolute;
    left:2px;
    top:8px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../内容编辑页_files/u55_normal.png');
}

.u61_container {
    position:absolute;
    left:1206px;
    top:312px;
    width:92px;
    height:31px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:37px;
}

.u62 {
    position:absolute;
    left:2px;
    top:8px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../内容编辑页_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:1077px;
    top:373px;
    width:92px;
    height:35px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:41px;
}

.u64 {
    position:absolute;
    left:2px;
    top:10px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:1179px;
    top:382px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:1408px;
    top:382px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../内容编辑页_files/u0_normal.png');
}

.u67_container {
    position:absolute;
    left:1517px;
    top:0px;
    width:380px;
    height:800px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:800px;
}

.u68 {
    position:absolute;
    left:2px;
    top:392px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../内容编辑页_files/u2_normal.png');
}

.u69_container {
    position:absolute;
    left:1553px;
    top:124px;
    width:308px;
    height:13px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:13px;
}

.u70 {
    position:absolute;
    left:2px;
    top:-2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../内容编辑页_files/u4_normal.png');
}

.u71_container {
    position:absolute;
    left:1549px;
    top:141px;
    width:320px;
    height:46px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:46px;
}

.u72 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:1661px;
    top:152px;
    width:95px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:1809px;
    top:155px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_line {
    background-image: url('../内容编辑页_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u75 {
    position:absolute;
    left:1549px;
    top:221px;
    width:320px;
    height:10px;
    
}

.u76_normal {
    background-image: url('../内容编辑页_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:1553px;
    top:197px;
    width:52px;
    height:21px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:27px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../内容编辑页_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:1615px;
    top:197px;
    width:63px;
    height:21px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:27px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../内容编辑页_files/u78_normal.png');
}

.u80_container {
    position:absolute;
    left:1688px;
    top:197px;
    width:63px;
    height:21px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:27px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../内容编辑页_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:1761px;
    top:197px;
    width:56px;
    height:21px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:27px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../内容编辑页_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:1549px;
    top:293px;
    width:320px;
    height:308px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:314px;
}

.u85 {
    position:absolute;
    left:2px;
    top:146px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../内容编辑页_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:1555px;
    top:303px;
    width:28px;
    height:30px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:30px;
}

.u87 {
    position:absolute;
    left:2px;
    top:7px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../内容编辑页_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:1549px;
    top:343px;
    width:320px;
    height:217px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:223px;
}

.u89 {
    position:absolute;
    left:2px;
    top:100px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:1822px;
    top:310px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:1593px;
    top:303px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:1593px;
    top:319px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../内容编辑页_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:1782px;
    top:496px;
    width:79px;
    height:34px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:40px;
}

.u94 {
    position:absolute;
    left:2px;
    top:9px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:1553px;
    top:570px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96 {
    position:absolute;
    left:1626px;
    top:570px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u97 {
    position:absolute;
    left:1738px;
    top:570px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u98 {
    position:absolute;
    left:1809px;
    top:570px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u99_normal {
    background-image: url('../内容编辑页_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:1550px;
    top:634px;
    width:320px;
    height:49px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:49px;
}

.u100 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../内容编辑页_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:1809px;
    top:646px;
    width:25px;
    height:25px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u102 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../内容编辑页_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:1688px;
    top:634px;
    width:55px;
    height:49px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:49px;
}

.u104 {
    position:absolute;
    left:2px;
    top:16px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../内容编辑页_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:1587px;
    top:646px;
    width:25px;
    height:25px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u106 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../内容编辑页_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:1549px;
    top:239px;
    width:320px;
    height:44px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u108 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../内容编辑页_files/u86_normal.png');
}

.u109_container {
    position:absolute;
    left:1557px;
    top:246px;
    width:28px;
    height:30px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:30px;
}

.u110 {
    position:absolute;
    left:2px;
    top:7px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../内容编辑页_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:1595px;
    top:250px;
    width:137px;
    height:22px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:28px;
}

.u112 {
    position:absolute;
    left:2px;
    top:3px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../内容编辑页_files/u113_normal.png');
}

.u113_container {
    position:absolute;
    left:1732px;
    top:250px;
    width:137px;
    height:22px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:28px;
}

.u114 {
    position:absolute;
    left:2px;
    top:3px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:1936px;
    top:382px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:1936px;
    top:408px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../内容编辑页_files/u107_normal.png');
}

.u117_container {
    position:absolute;
    left:1936px;
    top:430px;
    width:320px;
    height:44px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u118 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../内容编辑页_files/u86_normal.png');
}

.u119_container {
    position:absolute;
    left:1944px;
    top:436px;
    width:28px;
    height:30px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:30px;
}

.u120 {
    position:absolute;
    left:2px;
    top:7px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../内容编辑页_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:1982px;
    top:440px;
    width:173px;
    height:22px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:179px;
    height:28px;
}

.u122 {
    position:absolute;
    left:2px;
    top:3px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:2190px;
    top:441px;
    width:57px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

